yolov5/
.*generated-data/
generated*
utils_/data-examples/**/*.png
utils_/data-examples/**/*.jp*g
utils_/data-examples/**/*.json
__pycache__/
.ipynb_checkpoints
outputs/
/.data
.vscode
/weights
/static
*_dataset
dataset*/
checkpoints/
results/