<style>
    input[type="file"] {
        margin-bottom: 20px;
    }
    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        border: 1px darkgray solid;
        padding: 50px;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
    }
</style>

<form method="POST" action="submit-form" enctype="multipart/form-data">
    <input type="file" name="file" required/>
    <br>
    <input type="submit" value="Valider" />
</form>