name: Auto Format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  linter:
    name: Linter
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pylint flake8
          python -m pip install -r requirements.txt
      - name: Lint with pylint
        run: python -m pylint --disable=all -e W0311 --jobs=0 --indent-string='    ' $(git ls-files '*.py')
      - name: Lint with flake8
        run: python -m flake8 $(git ls-files '*.py') --indent-size=4 --select=F,E112,E113,E304,E502,E702,E703,E71,E72,E731,W191,W6 --statistics -j4
      - name: Lint with pylint
        run: python -m pylint $(git ls-files '*.py')

  testmypy:
    name: Mypy Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Update packages
        run: sudo apt-get update
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade mypy
          python -m pip install -r requirements.txt
      - name: Run mypy
        run: mypy $(git ls-files '*.py')
